@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

h2 {
    text-align: center;
}

h1 {
    font-family: 'Satisfy', cursive;;
}

div > a > img {
    width: 10%;
}

div[class*="navbar navbar-light"] {
    text-align: center;
}

div[class="card-body"] > p:nth-child(3) {
    font-weight: bold;
}

footer {
    margin-top: 35px;
    text-align: center;
}

a[class="nav-link"] {
    padding: 25px;
}

/*clases*/
.cancel {
    background-color: #FB575B;
    border: 1px solid rgb(173,223,223);
}

.confirm {
    background-color: #F3E8DD;
    border: 1px solid black;
}

[id="confirm"] {
    margin-right: 120px;
}